@* Указываем, что этот компонент наследуется от LayoutComponentBase.
   Это базовый класс для layout-компонентов (макета), которые задают общую структуру страницы. *@
@inherits LayoutComponentBase

@* Корневой контейнер всего макета *@
<div class="page">

    @* Боковая панель макета *@
    <div class="sidebar">

        @* Подключаем компонент меню навигации (NavMenu.razor) *@
        <NavMenu />
    </div>

    @* Основная область макета, где выводится контент *@
    <main>

        @* Контейнер для содержимого страницы *@
        <article class="content px-4">

            @* Здесь будет рендериться содержимое текущей страницы, которая использует этот layout *@
            @Body
        </article>
    </main>
</div>

@* Корневой контейнер встроенного блока для отображения ошибок Blazor *@
<div id="blazor-error-ui" data-nosnippet>

    @* Сообщение для пользователя о том, что случилась ошибка *@
    Произошла необработанная ошибка.

    @* Ссылка-кнопка: обновляет текущую страницу (href=".") *@
    <a href="." class="reload">Перезагрузить</a>

    @* Элемент-кнопка для закрытия блока ошибки (крестик) *@
    <span class="dismiss">🗙</span>
</div>
